:root{
    --fuenteRoboto: 'Roboto', sans-serif;
	--fuentecursiva: 'Dancing Script', cursive;
    --fuenteOpenSans: 'Open Sans', sans-serif;
	--fuenteRaleway: 'Raleway', sans-serif;

    --colorPrimario: #A8DADC;
    --colorLetra: #1D3557;
    --blanco: #fff;
    --negro: #000;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
	
}
*, *::before, *::after{ 
    box-sizing: inherit;
} 

body{
    font-size: 16px;
    line-height: 2;
	margin: 0;
}

/** Globales**/
.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
}
ul, li{
	padding: 0;
	margin: 0;
	list-style: none;
}

a{
    text-decoration: none;
}

h2, h3, h4{
    font-family: var(--fuenteRoboto);
}
h1{
	font-weight: 700;
	font-family: var(--fuentecursiva);
    font-size: 60px;
	color: var(--colorLetra);
}
h2{
    font-size: 40px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 28px;
}
img{
    max-width: 100%;
}

/** Utilidades **/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
.izquierda {
	float: left;
}

.derecha {
	float: right;
}


/* Header */
.header {
	background: var(--blanco);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120px;
}

.logo{
	color: var(--colorLetra);
}

.navegacion{
	display: flex;
	gap: 40px;
}

.navegacion__enlace{
	text-transform: capitalize;
	/* font-family: var(--fuenteRaleway); */
	display: block;
	text-align: center;
	font-size: 15px;
	color: var(--colorLetra);
}

.navegacion__enlace p{
	font-family: var(--fuenteRaleway);
	margin: 0%;
}

.navegacion__enlace .icono{
	font-size: 25px;
}

/* Menú */

.menu{
	background: var(--colorPrimario);
}

.menu ul{
	margin-top: 2px;
	list-style: none;
	display: flex;
	gap: 40px;
	justify-content: flex-start;
	color: var(--blanco);
	padding: 0;
}

.menu__enlace p{
	font-size: 15px;
	font-family: var(--fuenteRaleway);
	font-weight: 500;
	text-transform: uppercase;
}

.menu__enlace p,
.menu__enlace .fas{
	color: var(--colorLetra);
}

.menu__enlace p:hover{
	color: var(--blanco);
}

.todos{
	display: ruby;
}

/* Slidershow */
.slider{
    width: 100%;
    margin: 0;
    overflow: hidden; /* Elementos fuera no se observan */
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    /* Animar */
    animation: cambio 20s infinite alternate;
    /* Animacion inicia lenta */
    animation-timing-function: ease-in;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
    height: 700px;
}

/* Paradas */
@keyframes cambio{  /* Cambio cada 4 segundos */
    /* Primera imagen */
    0%{ margin-left: 0;}
    20%{ margin-left: 0;}
    
    /* Segunda imagen */
    25%{ margin-left: -100%;}
    45%{ margin-left: -100%;}
    
    /* Tercera imagen */
    50%{ margin-left: -200%;}
    70%{ margin-left: -200%;}
    
    /* Cuarta imagen */
    75%{ margin-left: -300%;}
    100%{ margin-left: -300%;}
}



