:root{
    --fuenteRoboto: 'Roboto', sans-serif;
	--fuentecursiva: 'Dancing Script', cursive;
    --fuenteOpenSans: 'Open Sans', sans-serif;
	--fuenteRaleway: 'Raleway', sans-serif;

	--colorPrimario: #3A506B;
	--colorPrimario1: #F2F4F8;
    --colorSecundario: #A8DADC;
    --colorLetra: #0B132B;
	--colorletra1: #A2B5CD;
	/* --colorletra1: #E98686; */
    --blanco: #fff;
    --negro: #000;
}
 
html{
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
	
}
*, *::before, *::after{ 
    box-sizing: inherit;
} 

body{
	font-family: var(--fuenteRaleway);
    font-size: 16px;
    line-height: 2;
	margin: 0;
}

/** Globales**/
.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}
ul, li{
	padding: 0;
	margin: 0;
	list-style: none;
}

a{
    text-decoration: none;
}

h2, h3, h4{
    font-family: var(--fuenteRoboto);
}
h1{
	font-weight: 700;
	font-family: var(--fuentecursiva);
    font-size: 60px;
	color: var(--colorLetra);
}
h2{
    font-size: 30px;
	font-family: var(--fuenteRaleway);
	color: var(--colorLetra);
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 28px;
}
img{
    max-width: 100%;
}

/** Botones **/
.btn{
    font-family: var(--fuenteRoboto);
    color: var(--colorPrimario1);
	background: var(--colorLetra);
	border-radius: 5px;
    text-align: center;
    padding: 10px 30px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    border: none;
	width: 200px;
}



.btn_oper{
	margin: 0px 20px;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: none;
	background-color: var(--colorPrimario1);
	padding: 1px;
	color: var(--colorLetra);
	font-size: 15px;
	font-weight: 700;
	font-family: var(--fuenteRoboto);
}

.btn:hover,
.btn_oper:hover{
    cursor: pointer;
	background: var(--colorletra1);
	color: var(--colorLetra);
}


/** Utilidades **/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
.izquierda {
	float: left;
}
.bold{
	font-weight: 700;
}
.derecha {
	float: right;
}
.mayusculas{
	text-transform: uppercase;
}

/* Header */
.header {
	background: var(--blanco);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120px;
}

.logo{
	color: var(--colorLetra);
}

.navegacion{
	display: flex;
	gap: 40px;
}

.navegacion__enlace{
	text-transform: capitalize;
	/* font-family: var(--fuenteRaleway); */
	display: block;
	text-align: center;
	font-size: 15px;
	color: var(--colorLetra);
}

.navegacion__enlace:hover{
	font-size: 18px;
}

.navegacion__enlace p{
	font-family: var(--fuenteRaleway);
	margin: 0%;
}

.navegacion__enlace .icono{
	font-size: 25px;
}

/* Footer */
.bgFooter{
	background: var(--colorPrimario);
	border: 0;
	height: 250px;

}

.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-items: flex-start;
	padding-top: 40px;
}

.logo__footer{
	color: var(--colorPrimario1);
}

.footer .icono,
.footer a{
	color: var(--blanco);
	margin: 0;
}

.footer .icono{
	font-size: 22px;
	margin-right: 10px;
}

.otros__red{
	display: flex;
	align-items: center;
	gap: 10px;
}

.preguntas,
.politicas{
	font-weight: 800;
}

/* Menú */

.menu{
	background: var(--colorPrimario);
}

.menu ul{
	margin-top: 2px;
	list-style: none;
	display: flex;
	gap: 40px;
	justify-content: flex-start;
	color: var(--blanco);
	padding: 0;
}

.menu__enlace p{
	font-size: 15px;
	font-family: var(--fuenteRaleway);
	font-weight: 500;
	text-transform: uppercase;
}

.menu__enlace p,
.menu__enlace .fas{
	color: var(--blanco);
}

.menu__enlace p:hover{
	color: var(--colorSecundario);
}

.todos{
	display: ruby;
}

/* Slideshow */
.slider{
    width: 100%;
    margin: 0;
    overflow: hidden; /* Elementos fuera no se observan */
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    /* Animar */
    animation: cambio 20s infinite alternate;
    /* Animacion inicia lenta */
    animation-timing-function: ease;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
    height: 700px;
}

/* Paradas */
@keyframes cambio{  /* Cambio cada 4 segundos */
    /* Primera imagen */
    0%{ margin-left: 0;}
    20%{ margin-left: 0;}
    
    /* Segunda imagen */
    25%{ margin-left: -100%;}
    45%{ margin-left: -100%;}
    
    /* Tercera imagen */
    50%{ margin-left: -200%;}
    70%{ margin-left: -200%;}
    
    /* Cuarta imagen */
    75%{ margin-left: -300%;}
    100%{ margin-left: -300%;}
}

/* Productos Recomendados index */
.sombra{
    box-shadow: 0px 5px 15px 0px rgba(199, 206, 211, 0.54);
    background-color: var(--blanco);
    padding: 40px;
    border-radius: 5px;
}

.grid{ /* Productos */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}

@media(min-width: 768px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

.producto{
	border-radius: 5px;
	background: var(--colorPrimario1);
	padding: 15px;
}

.producto__img{
	border-radius: 5px;
	/* width: 100%;
	height: 80%; */
	width: 250px;
	height: 300px;
}

.producto__nombre{
	text-align: center;
	font-size: 20px;
	font-family: var(--fuenteRaleway);
	font-weight: 400;
	color: var(--colorLetra);
}

.producto__precio{
	font-size: 18px;
	font-family: var(--fuenteRoboto);
	font-weight: 700;
	color: var(--colorletra1);
	text-align: center;
}

/* Formulario */

.formulario{
	position: relative;
	padding: 30px;
	margin-bottom: 30px;
	height: 400px;
	width: 550px;
	margin: auto;
}

.formulario a,
.formulario label{
	font-family: var(--fuenteRaleway);
	color: var(--colorLetra);
	font-size: 15px;
	text-transform: capitalize;
	font-weight: 300;
	font-style: italic;
}

.formulario input[type="text"],
.formulario input[type="password"]{
	margin-left: 20px;
	padding: 15px;
	width: 400px;
	font-family: var(--fuenteRaleway);
	font-size: 18px;
	line-height: 18px;
	border: none;
	vertical-align: top;
}


.formulario .icono{
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px;
	font-size: 30px;
	line-height: 18px;
	display: inline-block;
	color: var(--colorLetra);
	vertical-align: top;
}

.form_group{
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

.form_check{
	margin: 15px 0px;
}

.formulario label{
	margin-left: 20px;
}

/* Checkbox */
 .container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
  }
  
  .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	width: 30px;
	background-color: var(--blanco);
	border: 1px solid var(--colorLetra);
  }
  
  .container:hover input ~ .checkmark {
	background-color: var(--colorPrimario1);
  }
  
  .container input:checked ~ .checkmark {
	background-color: var(--colorLetra);
	color: var(--colorPrimario1);
  }
  
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  
  .container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
  } 


/* Mi cuenta y Registro */
.bg_cuenta{
	background-image: url('/img/cuenta.jpg');
	width: 100%;
	height: 759px;
}

.bg_registro{
	background-image: url('/img/registrar.jpg');
	width: 100%;
	height: 759px;
}

.rectangulo{
	position: relative;
	background-color: rgba(255, 255, 255, 0.637);
	width: 90%;
	height: 90%;
	margin: auto;
}

.cuenta__nombre, 
.registro__nombre,
.micarrito__nombre{
	font-family: var(--fuenteOpenSans);
	font-weight: 700;
	text-transform: uppercase;
	color: var(--colorLetra);
	text-align: center;
	font-size: 30px;
	margin: 0;
}

.cuenta__nombre{
	padding-top: 70px;
}
.registro__nombre,
.micarrito__nombre{
	padding-top: 20px;
}

.no-cuenta{
	text-align: end;
	margin-top: 30px;
}

.olvidar-cuenta{
	margin-left: 80px;
	margin-bottom: 40px;

}

/* Carrito */
.contenedor_tabla,
.subtotal{
	margin: 20px 110px;
}

.subtotal{
	text-align: end;
	padding: 10px;
}

.img_carrito{
	width: 80px;
	height: 90px;
}

table{
	width: 100%;
	background: var(--blanco);
	border-collapse: collapse;
	text-align: center;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	
}

.table__color{
	background-color: var(--colorPrimario1);
}

td, th{
	font-family: var(--fuenteRaleway);
	font-weight: 300;
	border-bottom: 1px solid #e9e9e9;
	padding: 20px;
}

th{
	color: var(--colorLetra);
	font-size: 17px;
}

.subtotal__precio{
	font-family: var(--fuenteRoboto);
	font-weight: 800;
	font-size: 20px;
	margin-left: 10px;
}





