:root{
    --fuenteRoboto: 'Roboto', sans-serif;
	--fuentecursiva: 'Dancing Script', cursive;
    --fuenteOpenSans: 'Open Sans', sans-serif;
	--fuenteRaleway: 'Raleway', sans-serif;

    --colorPrimario: #A8DADC;
	--colorPrimario1: #F2F4F8;
	--colorletra1: #E98686;
	--colorSecundario: #3A506B;
    --colorLetra: #0B132B;
    --blanco: #fff;
    --negro: #000;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
	
}
*, *::before, *::after{ 
    box-sizing: inherit;
} 

body{
    font-size: 16px;
    line-height: 2;
	margin: 0;
}

/** Globales**/
.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
}
ul, li{
	padding: 0;
	margin: 0;
	list-style: none;
}

a{
    text-decoration: none;
}

h2, h3, h4{
    font-family: var(--fuenteRoboto);
}
h1{
	font-weight: 700;
	font-family: var(--fuentecursiva);
    font-size: 60px;
	color: var(--colorLetra);
}
h2{
    font-size: 30px;
	font-family: var(--fuenteOpenSans);
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	text-align: center;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 28px;
}
img{
    max-width: 100%;
}

/** Utilidades **/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
.izquierda {
	float: left;
}

.derecha {
	float: right;
}


/* Header */
.header {
	background: var(--blanco);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120px;
}

.logo{
	color: var(--colorLetra);
}

.navegacion{
	display: flex;
	gap: 40px;
}

.navegacion__enlace{
	text-transform: capitalize;
	/* font-family: var(--fuenteRaleway); */
	display: block;
	text-align: center;
	font-size: 15px;
	color: var(--colorLetra);
}

.navegacion__enlace:hover{
	font-size: 18px;
}

.navegacion__enlace p{
	font-family: var(--fuenteRaleway);
	margin: 0%;
}

.navegacion__enlace .icono{
	font-size: 25px;
}

/* Footer */
.bgFooter{
	background: var(--colorSecundario);
	border: 0;
	height: 250px;

}

.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-items: flex-start;
	padding-top: 40px;
}

.logo__footer{
	color: var(--colorPrimario1);
}

.footer p,
.footer .icono{
	color: var(--blanco);
	margin: 0;
}

.footer .icono{
	font-size: 22px;
}

.footer p{
	font-family: var(--fuenteRaleway);
	font-size: 18px;
}

.otros__red{
	display: flex;
	align-items: center;
	gap: 10px;
}

.otros{
	text-transform: uppercase;
}

.preguntas,
.politicas{
	font-weight: 800;
}




/* Menú */

.menu{
	background: var(--colorSecundario);
}

.menu ul{
	margin-top: 2px;
	list-style: none;
	display: flex;
	gap: 40px;
	justify-content: flex-start;
	color: var(--blanco);
	padding: 0;
}

.menu__enlace p{
	font-size: 15px;
	font-family: var(--fuenteRaleway);
	font-weight: 500;
	text-transform: uppercase;
}

.menu__enlace p,
.menu__enlace .fas{
	color: var(--blanco);
}

.menu__enlace p:hover{
	color: var(--colorPrimario);
}

.todos{
	display: ruby;
}

/* Slideshow */
.slider{
    width: 100%;
    margin: 0;
    overflow: hidden; /* Elementos fuera no se observan */
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    /* Animar */
    animation: cambio 20s infinite alternate;
    /* Animacion inicia lenta */
    animation-timing-function: ease;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
    height: 700px;
}

/* Paradas */
@keyframes cambio{  /* Cambio cada 4 segundos */
    /* Primera imagen */
    0%{ margin-left: 0;}
    20%{ margin-left: 0;}
    
    /* Segunda imagen */
    25%{ margin-left: -100%;}
    45%{ margin-left: -100%;}
    
    /* Tercera imagen */
    50%{ margin-left: -200%;}
    70%{ margin-left: -200%;}
    
    /* Cuarta imagen */
    75%{ margin-left: -300%;}
    100%{ margin-left: -300%;}
}

/* Productos Recomendados index */
.sombra{
    box-shadow: 0px 5px 15px 0px rgba(199, 206, 211, 0.54);
    background-color: var(--blanco);
    padding: 40px;
    border-radius: 5px;
}

.grid{ /* Productos */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

@media(min-width: 768px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.producto{
	border-radius: 5px;
	background: var(--colorPrimario1);
	padding: 15px;
}

.producto__img{
	border-radius: 5px;
	width: 100%;
	height: 80%;
}

.producto__nombre{
	text-align: center;
	font-size: 20px;
	font-family: var(--fuenteRaleway);
	font-weight: 400;
	color: var(--colorLetra);
}

.producto__precio{
	font-size: 18px;
	font-family: var(--fuenteRoboto);
	font-weight: 700;
	color: var(--colorletra1);
	text-align: center;
}

